@font-face {
  font-family: "FontHollow";
  src: url("Fonts/TrajanPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontHollowTest";
  src: url("Fonts/Trajan Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontHollowBold";
  src: url("Fonts/TrajanPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  background-color: black;
}
header {
  display: flex;
  align-items: center;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "FontHollowTest";
  text-shadow: 0 0 3px #fff, 0 0 6px #fff;
  z-index: 1;
}
header h1 {
  margin-top: 3px;
}
.menu {
  display: flex;
  gap: 45px;
  margin-left: auto;
  padding: 15px 40px;
  margin-top: 3px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  position: relative;
  display: inline-block;
  transition: 0.3s ease;
}
.menu a:hover {
  transform: translateY();
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff;
}
.menu a::before,
.menu a::after {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
}
.menu a::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);

  width: 30px;
  height: 30px;

  background-image: url("Assets/Images/ChatGPT Image 19 de fev. de 2026, 13_50_32.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;
  transition: 0.3s ease;
}


.menu a::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  background-image: url("Assets/Images/ChatGPT Image 19 de fev. de 2026, 13_50_32.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;
  transition: 0.3s ease;
}
.menu a:hover::before,
.menu a:hover::after {
  opacity: 1;
}
header img {
  max-width: 100%;
  height: auto;
  width: 75px;
  background-color: transparent;
}
.linha-neon {
  width: 100%;
  height: 2px;
  background: #fff;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
.back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  object-fit: cover;
}
