@font-face {
  font-family: "FontHollow";
  src: url("Fonts/TrajanPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontHollowTest";
  src: url("Fonts/Trajan Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontHollowBold";
  src: url("Fonts/TrajanPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}

body{
  cursor: url('Assets/user-cursor/Normal.png'), auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "FontHollowTest";
  text-shadow: 0 0 3px #fff, 0 0 6px #fff;
  z-index: 1;
}
header h1 {
  margin-top: 3px;
}

.section-title {
  display: flex;
  margin-top: 3px;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: #fff;
  font-family: "FontHollowTest";
  text-shadow: 0 0 3px #fff, 0 0 6px #fff;
}

.menu {
  display: flex;
  gap: 60px;
  margin-left: auto;
  padding: 15px 40px;
  margin-top: 3px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  position: relative;
  display: inline-block;
  transition: 0.3s ease;
}
.menu a:hover {
  transform: translateY();
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff;
}
.menu a::before,
.menu a::after {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
}
.menu a::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);

  width: 30px;
  height: 30px;

  background-image: url("Assets/Images/ChatGPT Image 19 de fev. de 2026, 13_50_32.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;
  transition: 0.3s ease;
}


.menu a::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  background-image: url("Assets/Images/ChatGPT Image 19 de fev. de 2026, 13_50_32.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;
  transition: 0.3s ease;
}
.menu a:hover::before,
.menu a:hover::after {
  opacity: 1;
}
header img {
  max-width: 100%;
  height: auto;
  width: 75px;
  background-color: transparent;
}
.linha-neon {
  width: 100%;
  height: 2px;
  background: #fff;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
.back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  object-fit: cover;
}

#news{
  padding: 100px;
}

#news-items{
  display:grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: repeat(3, 400px);
  gap: 12rem;
  justify-content: center;
}

.news-card{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 450px;
  border-radius: 1rem;
  position: relative;
  overflow: visible;
  box-shadow: 5px 5px 5px #ccc;
  background-color: #000000;
  box-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #fff;
  transition: transform 0.2s ease;
}

.card-inner {
  border-radius: 1rem;
  overflow: hidden;
  background-color: #000;
}
  
.news-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.news-card h3{
  padding: 1rem;
  text-shadow: 0 0 1px #fff, 0 0 4px #fff;
  color: #fff;
}

.news-card:hover {
  transform: translateY(-5px) translateX(-3px);
  box-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #ffffff, 0 0 40px #fff;
}

.news-card img{
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-fit: fill;
  display: block;
}

.see-more{
  position: relative;
  gap: 10px;
  display: inline-flex;
  margin-top: auto;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  padding-top: 1rem;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 4px #fff;
}

.news-content a{
  font-size: larger;
}

.ferrao-seta{
  width: 9rem;
  height: auto;
  align-items: center;
}

.see-more .ferrao-seta {
  transition: transform 0.3s ease;
}

.see-more:hover .ferrao-seta {
  transform: translateX(5px);
}

.see-more::before,
.see-more::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("Assets/Images/ChatGPT Image 19 de fev. de 2026, 13_50_32.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}

.see-more::before {
  left: -35px;
  transform: translateY(-50%) scaleX(-1);
}

.see-more::after {
  right: -35px;
}

.see-more:hover {
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff;
}

.see-more:hover::before,
.see-more:hover::after {
  opacity: 1;
}

.news-content {
  padding: 1rem 2.5rem;
}

.corner {
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("Assets/Images/Selected-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

.top-left {
  top: -20px;
  left: -20px;
}

.top-right {
  top: -20px;
  right: -20px;
  transform: rotate(90deg);
}

.bottom-left {
  bottom: -20px;
  left: -20px;
  transform: rotate(-90deg);
}

.bottom-right {
  bottom: -20px;
  right: -20px;
  transform: rotate(180deg);
}

.news-card:hover .corner {
  opacity: 1;
  
}